<div>
    <br>
    <h1 class="container">History</h1>
</div>
<hr>
<table class="table table-striped">
    <tr class='bg-warning'>
        <th>Invoice ID</th>
        <th>Record Date</th>
        <th *ngFor="let field of extraFields">{{field}}</th>
        <th>Status</th>
        <th>Comment</th>
        <th>Delete</th>
    </tr>
    <tbody *ngFor="let object of recordsDB; let i = index">
        <tr>
            <td>{{object.invoiceID}}</td>
            <td>{{object.recordDate}}</td>
            <td *ngFor="let item of object['array']">{{item}}</td>
            <td>{{object.status}}</td>
            <td><button class="btn btn-primary" type="button" (click)="object.isCollapsed = !object.isCollapsed"
                [attr.aria-expanded]="!object.isCollapsed" aria-controls="comments">Show</button></td>
            <td><button class="btn btn-danger" type="button" (click)="deleteRecord(object.invoiceID)">Delete</button></td>
        </tr>
        <tr>
            <td colspan="7" id="comments" [ngbCollapse]="object.isCollapsed">
                <p>Comments:</p><br>
                <p>{{object.comments}}</p>
                <!-- <ul >
                    <li *ngFor="let file of item.pictures">
                        <img src="image/{{file.filename}}">
                    </li>
                </ul> -->
            </td>
        </tr>
    </tbody>
</table>

