<!-- nav -->
<nav class="navbar navbar-expand" *ngIf="currentUser" [ngStyle]="mainStyle">
  <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [ngStyle]="linkStyle">Home</a>
      <a class="nav-item nav-link" routerLink="/admin" routerLinkActive="active" *ngIf="isAdmin" [ngStyle]="linkStyle">Admin</a>
      <a class="nav-item nav-link" routerLink="/track" routerLinkActive="active" [ngStyle]="linkStyle">Track</a>
      <a class="nav-item nav-link" (click)="logout()" routerLinkActive="active" [ngStyle]="linkStyle">Logout</a>
  </div>
</nav>

<!-- main app container -->
<div class="container">
  <router-outlet></router-outlet>
</div>

<!-- credits -->
<!-- <div class="text-center mt-4">
  <p>
      <a href="#" target="_top">Angular 8 - Role Based Authorization Tutorial with Example</a>
  </p>
  <p>
      <a href="http://jasonwatmore.com" target="_top">JasonWatmore.com</a>
  </p>
</div> -->