<!-- <div class="card mt-4">
    <h4 class="card-header">Admin</h4>
    <div class="card-body">
        <p>This page can be accessed <u>only by administrators</u>.</p>
        <p class="mb-1">All users from secure (admin only) api end point:</p>
        <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
        <ul *ngIf="users">
            <li *ngFor="let user of users">{{user.firstName}} {{user.lastName}}</li>
        </ul>
    </div>
</div> -->

<div class="container">
    <!--Title-->
    <div>
        <br>
        <div>
            <h1>Setting</h1>           
        </div>
    </div>
    <hr>
    <!--nav-->
    <div class="btn-group d-flex" role="group" aria-label="...">
        <button type="button" class="btn btn-primary w-100" (click)="changeSection(1)">Logo</button>
        <button type="button" class="btn btn-primary w-100" (click)="changeSection(2)">Color</button>
        <button type="button" class="btn btn-primary w-100" (click)="changeSection(3)">Fields</button>
    </div>
    <!--Setting Logo-->
    <div class="card m-3" *ngIf="section==1">
        <h5 class="card-header">Customize Logo</h5>
        <div class="card-body">
            <div class="container">
                <div style="text-align: center">
                    <div>
                        <input type="file" name="image" (change)="selectImage($event)"/>
                        <!-- <br><br><br>
                        <img src="../assets/img/logo.png" alt="Logo" width="120" height="120"> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer text-center">
            <button class="btn btn-primary mr-1" type="submit" (click)="onSubmit()" (click)="ngxSmartModalService.getModal('logoModal').open()">Set Logo</button>
        </div>
    </div>
    <!--Setting Color-->
    <div class="card m-3" *ngIf="section==2">
        <h5 class="card-header">Customize Color</h5>
        <div class="card-body">
                        <app-color-picker #main></app-color-picker>
                        <!-- <button type="button" class="btn btn-outline-primary" (click)="changeBg()">Change Colour</button> -->
        </div>
        <div class="card-footer text-center">
            <button class="btn btn-primary mr-1" type="button" (click)="changeBg(main.color)" (click)="ngxSmartModalService.getModal('colorModal').open()">Set Colour</button>
        </div>
    </div>
    <!--Setting Field-->
    <div class="card m-3" *ngIf="section==3">
        <form [formGroup]="dynamicForm" (ngSubmit)="onSubmitFields()">
            <h5 class="card-header">Customize Fields</h5>
            <div class="card-body">
                <div class="form-row">
                    <div class="form-group">
                        <label>Number of Fields</label>
                        <select formControlName="numberOfFields" class="form-control" (change)="onChangeFields($event)" [ngClass]="{ 'is-invalid': submitted && f.numberOfFields.errors }">
                            <option value=""></option>
                            <option *ngFor="let i of [0,1,2,3,4,5,6,7,8,9,10]">{{i}}</option>
                        </select>
                        <div *ngIf="submitted && f.numberOfFields.errors" class="invalid-feedback">
                            <div *ngIf="f.numberOfFields.errors.required">Number of fields is required</div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngFor="let field of t.controls; let i = index" class="list-group list-group-flush">
                <div class="list-group-item">
                    <h5 class="card-title">Field {{i + 1}}</h5>
                    <div [formGroup]="field" class="form-row">
                        <div class="form-group col-6">
                            <label>Name</label>
                            <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && field.controls.name.errors }" />
                            <div *ngIf="submitted && field.controls.name.errors" class="invalid-feedback">
                                <div *ngIf="field.controls.name.errors.required">Name is required</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer text-center">
                <button class="btn btn-primary mr-1" type="submit" (click)="ngxSmartModalService.getModal('fieldModal').open()">Set Fields</button>
                <button class="btn btn-secondary mr-1" type="reset" (click)="onReset()">Reset</button>
                <button class="btn btn-secondary" type="button" (click)="onClear()">Clear</button>
            </div>
        </form>   
    </div>
</div>


<!--POP UP-->
<!--Logo POP-->
<ngx-smart-modal #logoModal identifier="logoModal">
  <div *ngIf="isLogoSubmit">
    <h3>Logo has been changed!</h3><br>
    <button class="button -dark" (click)="reloadPage()">Reload page</button>
  </div>
  <div *ngIf="!isLogoSubmit">
    <h3>Choose a logo!</h3>
  </div>
  <!-- <button class="button -dark" (click)="reloadPage()">Reload page</button> -->
</ngx-smart-modal>

<!--Color POP-->
<ngx-smart-modal #colorModal identifier="colorModal">
  <div *ngIf="isColorSubmit">
    <h3>Color has been changed!</h3><br>
    <button class="button -dark" (click)="reloadPage()">Reload page</button>
  </div>
  <div *ngIf="!isColorSubmit">
    <h3>Choose a color!</h3>
  </div>
  <!-- <button class="button -dark" (click)="colorModal.close()">Close</button> -->
  <!-- <button class="button -dark" (click)="reloadPage()">Reload page</button> -->
</ngx-smart-modal>

<!--Field POP-->
<ngx-smart-modal #fieldModal identifier="fieldModal">
  <div *ngIf="isFieldSubmit">
    <h3>Fields have been changed!</h3><br>
    <button class="button -dark" (click)="reloadPage()">Reload page</button>
  </div>
  <div *ngIf="!isFieldSubmit">
    <h3>Fields are required!</h3>
  </div>
  <!-- <button class="button -dark" (click)="reloadPage()">Reload page</button> -->
</ngx-smart-modal>









