:host {
    display: block;
    width: 316px;
    padding: 16px;
  }
  .color-wrapper {
    display: flex;
    height: 250px;
  }
  
  .input-wrapper {
    margin-top: 16px;
    display: flex;
    padding: 8px;
    height: 32px;
    justify-content: center;
  }
  
  .color-div {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid rgb(220, 220, 220);
    position: relative;
    right: 10%;
  }
  
  .text {
    flex: 1;
    font-family: 'Helvetica';
    line-height: 32px;
    position: relative;
    left: 10%;
  }

  @media screen and (max-width: 600px) {
    :host {
      display: block;
      width: 100%;
      padding: 0px;
    }

    .color-wrapper {
      display: flex;
      height: 100%;
    }

    .text {
      flex: 1;
      font-family: 'Helvetica';
      line-height: 32px;
      position: relative;
      left: 0%;
    }

    .color-div {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      border: 1px solid rgb(220, 220, 220);
      position: relative;
      right: 0%;
    }
  }